:root {
  --body-bg: hsl(130, 40%, 95%);
  --body-fg: hsl(60, 90%, 20%);

  --title-fg: hsl(120, 100%, 25%);

  --content-bg: hsl(60, 35%, 95%);
  --content-bg-hover: hsl(60, 35%, 90%);
  --content-fg: hsl(60, 90%, 20%);
  --content-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);

  --section-bg: hsl(140, 40%, 65%);

  --danger-bg: hsl(20, 90%, 40%);
  --danger-fg: hsl(60, 35%, 95%);
  --danger-bg-hover: hsl(20, 90%, 35%);

  --check-bg: hsl(60, 35%, 100%);
  --check-fg: hsl(60, 90%, 20%);
  --check-border: hsl(60, 90%, 30%);

  /* --font-sans: -apple-system, BlinkMacSystemFont, "Segoe UI"; */
  --font-sans: "Helvetica Neue", "Segoe UI";

  --border-radius: 1rem;

  scrollbar-color: var(--body-fg) var(--body-bg);
  background: var(--body-bg);
  color: var(--body-fg);
  font-family: var(--font-sans);
  padding: 0;
  margin: 0;
  /* Tabular numbers */
  font-feature-settings: "tnum";
}

.title {
  color: var(--title-fg);
}

h1,
h2,
h3 {
  padding: 0;
  margin: 0;
}

body {
  margin: 1rem auto;
  padding: 0;
  max-width: 600px;
}

input,
button {
  -webkit-appearance: none;
  color: inherit;
  font: inherit;
}

a {
  color: inherit;
}

a:hover {
  opacity: 0.9;
}

ac-daily {
  display: contents;
}

:focus {
  outline: none;
  box-shadow: 0 0 0 2px white, 0 0 0 4px black;
}

::-moz-focus-inner {
  border: 0;
}

.footer {
  text-align: center;
}

.grid-1col {
  display: grid;
  grid-gap: 0.5rem;
  gap: 0.5rem;
}

.gap-m {
  grid-gap: 1rem;
  gap: 1rem;
}

.flex {
  display: flex;
  align-items: center;
}

.description {
  padding-left: 0.5rem;
  user-select: none;
  align-self: center;
}

[data-state="complete"] .description {
  text-decoration: line-through;
}

.checkbox {
  -webkit-appearance: none;
  width: 24px;
  height: 24px;
  border-radius: 4px;
  background: var(--check-bg);
  border: 2px solid var(--check-border);
}

.checkbox:checked {
  background: var(--check-fg);
  box-shadow: inset 0 0 0 4px var(--check-bg);
}

.checkbox:focus {
  outline: none;
  box-shadow: inset 0 0 0 4px var(--check-bg), 0 0 0 2px white, 0 0 0 4px black;
}

.section {
  background: var(--section-bg);
  border-radius: var(--border-radius);
}

.rounded {
  border-radius: var(--border-radius);
}

.padding {
  padding: 0.5rem;
}

.spacer {
  padding-left: 0.5rem;
  padding-top: 0.5rem;
}

.margin-h {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.daily-content {
  display: grid;
  grid-template-columns: min-content 1fr;
  background: var(--content-bg);
  color: var(--content-fg);
  box-shadow: var(--content-box-shadow);
}

.daily-content:hover {
  background: var(--content-bg-hover);
}

.reset {
  background: var(--danger-bg);
  color: var(--danger-fg);
  border: 0;
  border-radius: var(--border-radius);
  padding: 0.25rem 0.5rem;
}

.reset:hover {
  background: var(--danger-bg-hover);
}
